.createTask {
  display: flex;
  gap: 0.5rem;
}

.createTask input {
  background: var(--gray-500);
  width: 40rem;
  padding-left: 0.5rem;
  height: 3.37rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-700);
  color: var(--gray-200);
}

.createTask button {
  background: var(--blue-dark);
  color: var(--gray-200);
  width: 5.62rem;
  height: 3.37rem;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  cursor: pointer;
}

.tasks {
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;

  color: var(--blue);
  font-size: 0.875rem;
  font-weight: 1.05rem;
  font-weight: bold;


}

.tasks span {
  background: var(--gray-400);
  /* margin: 0 0.5rem; */
  padding: 0.06rem 0.5rem;
  border-radius: 50rem;
  color: var(--gray-200);

}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  color: var(--gray-400);
}

.content p {
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: bold;
}
