
.listTasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  margin-top: 0.75rem;

  border-radius: 0.5rem;
  border: 1px solid var(--gray-400);
  background: var(--gray-500);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06)
}

.listMain {
  margin-top: 1.5rem;
  border-top: 1px solid var(--gray-300);
  border-radius: 0.5rem;
}

.listTarefa {
  margin-top: 1.5rem;
}

.listTasks strong {
  max-width: 39.5rem;
  display: flex;
  align-items: center;
}

.trash button {
  display: flex;
  align-items: center;
  margin: 0 0.5rem ;
  background: transparent;
  color: var(--gray-300);
  cursor: pointer;
  transition: background-color 0.5s;
}
.trash button:hover {
  color: var(--red);
  background: var(--gray-400);
  border-radius:0.25rem;
}
.circle button {
  box-shadow: none;
  display: flex;
  align-items: center;
  margin: 0 0.5rem ;
  background: transparent;
  color: var(--gray-300);
  cursor: pointer;
  transition: background-color 0.5s;
}
.circle button:hover{
  color: var(--blue-dark);
}
.circleCheck button {
  justify-content: center;
  width:1.09rem;
  height: 1.09rem;
  box-shadow: none;
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
  background: var(--puple-dark);
  border-radius: 50%;
  border: none;
  color: var(--gray-100);
  cursor: pointer;
  transition: background-color 0.5s;
}
.circleCheck button:hover{
  background: var(--puple);
}

.lineCheck
{
  text-decoration: line-through;
  color: var(--gray-300);
}
